.bg-olive {
  background-color: #606C38;
}

.bg-kombu {
  background-color: #283618;
}

.bg-fawn {
  background-color: #DDA15E
}

.bg-liverdogs {
  background-color: #BC6C25
}

.bg-cornsilk {
  background-color: #FEFAE0;
}

.text-olive {
  color: #606C38;
}

.text-kombu {
  color: #283618;
}

.text-fawn {
  color: #DDA15E
}

.text-liverdogs {
  color: #BC6C25
}

.text-cornsilk {
  color: #FEFAE0;
}