body {
  background-color: #fefae0
}

#favicon {
  cursor: pointer;
}

.thumb {
  width: 70px
}

.fluid {
  max-width: 420px;
}

.insta{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}